In [1]:
type(12)

int

In [2]:
name='atiya'
print(name)

atiya

In [3]:
type(name)

str

In [4]:
name=True
print(name)

True

In [5]:
type(name)

bool

In [7]:
a1q2='34'

In [8]:
a1q2

'34'

In [9]:
_=23
_

23

In [15]:
a=10
b=3
c=a//b
c

3

In [16]:
a=10
b=3
c=a/b
c

3.3333333333333335

In [17]:
a=10
b=3
c=a%b
c

1

In [18]:
c+12

13

In [19]:
d=c+12
d

13

In [23]:
c=c+5
c

21

In [24]:
c=c+5
c

26

In [25]:
c+=5
c

31

In [26]:
c=c*5
c

155

In [27]:
c//=5
c

31

In [28]:
c/=5
c

6.2

In [31]:
(3+2)*2+5/2

12.5

In [30]:
3**2  ### power

9

In [32]:
(3+2)*2+5**2/2

22.5

In [33]:
a="1"+"2"
a

'12'

In [34]:
a=1+2
a

3

In [35]:
c>a

True

In [37]:
c<a

False

In [43]:
firstname="atiya"
lastname="wasi"
Fullname=firstname+' '+lastname
print(Fullname)

atiya wasi

In [42]:
print(firstname+' '+lastname)

atiya wasi

In [44]:
len(firstname+' '+lastname)

10

In [45]:
print("abc"+123)

TypeError: can only concatenate str (not "int") to str

In [46]:
print("abc"+"123")

abc123

In [47]:
print("abc"+str(123))

abc123

In [48]:
print("the number is "+c)

TypeError: can only concatenate str (not "int") to str

In [49]:
print("the number is "+str(c))

the number is 3

In [57]:
name="Syeda Atiya Wasi"
age=23
print("my name is "+name+" and my age is "+str(age))

my name is Syeda Atiya Wasi and my age is 23

In [59]:
name="Syeda Atiya Wasi"
age=23
print("my name is {} and my age is {}.".format(name,age))

my name is Syeda Atiya Wasi and my age is 23.

In [60]:
name="Syeda Atiya Wasi"
age=23
print("my name is {0} and my age is {0}.".format(name,age))

my name is Syeda Atiya Wasi and my age is Syeda Atiya Wasi.

In [61]:
name="Syeda Atiya Wasi"
age=23
print("my name is {1} and my age is {1}.".format(name,age))

my name is 23 and my age is 23.

In [62]:
name="Syeda Atiya Wasi"  ####place holder with index
age=23
print("my name is {1} {0} and my age is {1} {0}.".format(name,age))

my name is 23 Syeda Atiya Wasi and my age is 23 Syeda Atiya Wasi.