In [1]:
students={"asad","nasir","aisha","fatima"}
type(students)

set

In [2]:
students=["asad","nasir","aisha","fatima"]
type(students)

list

In [4]:
students[1]

'nasir'

In [5]:
students[4]

IndexError: list index out of range

In [7]:
students.append("atiya")
students

['asad', 'nasir', 'aisha', 'fatima', 'atiya', 'atiya']

In [9]:
students.insert(0,"rubasha")
students

['rubasha', 'asad', 'nasir', 'aisha', 'fatima', 'atiya', 'atiya']

In [11]:
del students[0]
students

['asad', 'nasir', 'aisha', 'fatima', 'atiya', 'atiya']

In [12]:
students.insert(0,"rubasha")
students

['rubasha', 'asad', 'nasir', 'aisha', 'fatima', 'atiya', 'atiya']

In [20]:
students.insert(0,"salma")
students

['salma', 'salma', 'rubasha', 'asad', 'nasir', 'aisha', 'fatima', 'atiya']

In [14]:
students.insert(25,"as last index")
students

['salma',
 'rubasha',
 'asad',
 'nasir',
 'aisha',
 'fatima',
 'atiya',
 'atiya',
 'as last index']

In [15]:
students.index("fatima")

5

In [18]:
del students[8]
students

TypeError: list indices must be integers or slices, not tuple

In [22]:
students

['salma', 'salma', 'rubasha', 'asad', 'nasir', 'aisha', 'fatima', 'atiya']

In [23]:
students.append("atiya")
students

['salma',
 'salma',
 'rubasha',
 'asad',
 'nasir',
 'aisha',
 'fatima',
 'atiya',
 'atiya']

In [28]:
students.index("rubasha")

2

In [29]:
cities=["karachi","lahore","peshawar","quetta"]
cities

['karachi', 'lahore', 'peshawar', 'quetta']

In [30]:
cities.append("karachi")
cities

['karachi', 'lahore', 'peshawar', 'quetta', 'karachi']

In [36]:
cities.remove("karachi")#it remove only first value in the list which match
cities

['lahore', 'peshawar', 'quetta']

In [39]:
cities

['lahore', 'peshawar', 'quetta']

In [41]:
cities.append("karachi")
cities

['lahore', 'peshawar', 'quetta', 'karachi']

In [42]:
cities.insert(0,"karachi")
cities

['karachi', 'lahore', 'peshawar', 'quetta', 'karachi']

In [47]:
cities.remove("karachi")####### see for index wise delete from google
cities

['lahore', 'peshawar', 'quetta', 'karachi']

In [48]:
cities.sort()
cities

['karachi', 'lahore', 'peshawar', 'quetta']

In [51]:
citites.sort(reverse=True)## see at google
cities

NameError: name 'citites' is not defined

In [52]:
marks=[99,89,78,46,33,23,3]
marks

[99, 89, 78, 46, 33, 23, 3]

In [53]:
list1=marks
list1

[99, 89, 78, 46, 33, 23, 3]

In [55]:
del marks[2]
marks

[99, 89, 46, 33, 23, 3]

In [56]:
list1  ### pass by reference ----changing on marks will also change to list1

[99, 89, 46, 33, 23, 3]

In [57]:
list2=list1.copy()
list2

[99, 89, 46, 33, 23, 3]

In [58]:
list2.append("499")
list2

[99, 89, 46, 33, 23, 3, '499']

In [59]:
list2.reverse()### only reverse not sorted
list2

['499', 3, 23, 33, 46, 89, 99]

In [60]:
list2.clear()
list2

[]

In [62]:
numbers=[29,67,45,3,89,90] #### working with pop
numbers

[29, 67, 45, 3, 89, 90]

In [70]:
x=numbers.pop()### it removes one by one from last...when list empty then after runing pop code it will gives error.
x

IndexError: pop from empty list

In [71]:
x # now it gives only last value

29

In [72]:
## x only contains one value if we want to create a variable that holds all numbers 
#that we pop then we must have to put it on a list as above we put it on variable
numbers=[29,67,45,3,89,90]
numbers

[29, 67, 45, 3, 89, 90]

In [74]:
popedList=[]

In [75]:
popedelement=numbers.pop() # at first runing the code
popedList.append(popedelement)
print(numbers)
print(popedList)

[29, 67, 45, 3, 89]
[90]

In [76]:
popedelement=numbers.pop() # at second runing the code
popedList.append(popedelement)
print(numbers)
print(popedList)

[29, 67, 45, 3]
[90, 89]

In [77]:
popedelement=numbers.pop() # at third runing the code
popedList.append(popedelement)
print(numbers)
print(popedList)

[29, 67, 45]
[90, 89, 3]

In [78]:
popedelement=numbers.pop() # at forth runing the code
popedList.append(popedelement)
print(numbers)
print(popedList)

[29, 67]
[90, 89, 3, 45]

In [79]:
popedelement=numbers.pop() # at fifth runing the code
popedList.append(popedelement)
print(numbers)
print(popedList)

[29]
[90, 89, 3, 45, 67]

In [80]:
popedelement=numbers.pop() # at sixth runing the code
popedList.append(popedelement)
print(numbers)
print(popedList)

[]
[90, 89, 3, 45, 67, 29]

In [81]:
popedelement=numbers.pop() # at seventh runing the code
popedList.append(popedelement) # shows error due to list is empty
#but our code does not crash when we have used pop function with if condition
print(numbers)
print(popedList)

IndexError: pop from empty list

In [89]:
if len(numbers) != 0:
# at seventh runing the code
    popedList.append(numbers.pop()) # shows error due to list is empty
#but our code does not crash when we have used pop function with if condition
    print(popedList)
else:
    print("your list is empty")

your list is empty

# list in list # nested list

In [90]:
list3=[19,89,['apple','banana','orange']]
list3

[19, 89, ['apple', 'banana', 'orange']]

In [92]:
##access to orange which resides on nested list
list3[2][2]

'orange'

# Slicing

In [109]:
fruits=['orange','peach','apple','mango']
fruits

['orange', 'peach', 'apple', 'mango']

In [110]:
students

['salma',
 'salma',
 'rubasha',
 'asad',
 'nasir',
 'aisha',
 'fatima',
 'atiya',
 'atiya']

# removing by index in nested list

# remove by index value

In [95]:
abc=[23,89,3,students,fruits,'abcd']
abc

[23,
 89,
 3,
 ['salma',
  'salma',
  'rubasha',
  'asad',
  'nasir',
  'aisha',
  'fatima',
  'atiya',
  'atiya'],
 ['orange', 'peach', 'apple', 'mango'],
 'abcd']

In [101]:
del abc[4][2]
abc

[23,
 89,
 3,
 ['salma',
  'salma',
  'rubasha',
  'asad',
  'nasir',
  'aisha',
  'fatima',
  'atiya',
  'atiya'],
 ['orange', 'peach', 'mango'],
 'abcd']

In [102]:
del abc[4][2]
abc

[23,
 89,
 3,
 ['salma',
  'salma',
  'rubasha',
  'asad',
  'nasir',
  'aisha',
  'fatima',
  'atiya',
  'atiya'],
 ['orange', 'peach'],
 'abcd']

In [103]:
del abc[4][2]
abc

IndexError: list assignment index out of range

In [104]:
del abc[4][1]
abc

[23,
 89,
 3,
 ['salma',
  'salma',
  'rubasha',
  'asad',
  'nasir',
  'aisha',
  'fatima',
  'atiya',
  'atiya'],
 ['orange'],
 'abcd']

# Remove by string value

In [111]:
abc=[23,89,3,students,fruits,'abcd']
abc

[23,
 89,
 3,
 ['salma',
  'salma',
  'rubasha',
  'asad',
  'nasir',
  'aisha',
  'fatima',
  'atiya',
  'atiya'],
 ['orange', 'peach', 'apple', 'mango'],
 'abcd']

In [114]:
abc[4].remove('apple')
abc

[23,
 89,
 3,
 ['salma',
  'salma',
  'rubasha',
  'asad',
  'nasir',
  'aisha',
  'fatima',
  'atiya',
  'atiya'],
 ['orange', 'peach', 'mango'],
 'abcd']

# SLICING index

In [115]:
# negative index starting from -1
#index  -6 -5 -4 -3 -2 -1
numbers=[29,67,45,3,89,90]
numbers # 0 1  2  3 4  5 # positive index starting from zero

[29, 67, 45, 3, 89, 90]

In [116]:
numbers[1] # without passing range

67

In [117]:
numbers[1:3] #passing rang

[67, 45]

In [118]:
numbers[-5]

67

In [119]:
numbers[1:4]

[67, 45, 3]

In [120]:
numbers[1:4:2] #stepping--- it takes all valuse from range 1 to 5 and then takes values form the
#result and then gives the output

[67, 3]

In [121]:
numbers=[29,67,45,3,89,90,4,23,56,4]
numbers

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

In [122]:
numbers[1:10:2]

[67, 3, 90, 23, 4]

In [127]:
print(numbers)
numbers[1:10:2]

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

[67, 3, 90, 23, 4]

In [128]:
numbers[7:] # starting element from index 7

[23, 56, 4]

In [129]:
numbers[:3] # ending at 3 index

[29, 67, 45]

In [130]:
numbers[7:3] # there is only two element from index 7 to last thats why it shows empty

[]

In [131]:
numbers[-1:-8]

[]

In [132]:
numbers[-1:-8:-1]

[4, 56, 23, 4, 90, 89, 3]

In [133]:
numbers[1:-5]

[67, 45, 3, 89]

In [137]:
print(numbers)
numbers[-1:-5]

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

[]

In [138]:
numbers[::2]

[29, 45, 89, 4, 56]

In [139]:
print(numbers)
numbers[-5:-1]

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

[90, 4, 23, 56]

# TUPLES