In [1]:
for a in range(10):
    print(a,"anees hussain")

0 anees hussain
1 anees hussain
2 anees hussain
3 anees hussain
4 anees hussain
5 anees hussain
6 anees hussain
7 anees hussain
8 anees hussain
9 anees hussain

In [10]:
for a in range(0,10,12):
    print(a,"anees hussain")

0 anees hussain

In [3]:
for a in range(10,1,-2):#in reverse
    print(a,"anees hussain")

10 anees hussain
8 anees hussain
6 anees hussain
4 anees hussain
2 anees hussain

In [7]:
for a in range(0,10,2):# in sequence even numbers
    print(a,"anees hussain")

0 anees hussain
2 anees hussain
4 anees hussain
6 anees hussain
8 anees hussain

In [11]:
for a in range(10,0,-1):#in reverse
    print(a,"anees hussain")

10 anees hussain
9 anees hussain
8 anees hussain
7 anees hussain
6 anees hussain
5 anees hussain
4 anees hussain
3 anees hussain
2 anees hussain
1 anees hussain

In [13]:
mylist=['john','ada','lovelace']
for i in mylist:
    print(i)

john
ada
lovelace

In [21]:
mylist1=[2,4,5,6,7,8,9,10]
for i in mylist1:
    print(i*2)

4
8
10
12
14
16
18
20

In [20]:
mylist1=[2,4,5,6,7,8,9,10]
my_new_list=[]
for i in mylist1:
    my_new_list.append(i*2)
    print(my_new_list)

[4]
[4, 8]
[4, 8, 10]
[4, 8, 10, 12]
[4, 8, 10, 12, 14]
[4, 8, 10, 12, 14, 16]
[4, 8, 10, 12, 14, 16, 18]
[4, 8, 10, 12, 14, 16, 18, 20]

In [31]:
for i in range(9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [32]:
for i in range(9):
    if i == 3:
        break
    print(i)

0
1
2

In [48]:
a=int(input("enter any integer:"))
for i in range(1,11):
    print(a,'x',i,'=',a*i)

enter any integer:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [46]:
num = int(input("enter any integer:"))

# To take input from the user
# num = int(input("Display multiplication table of? "))

# use for loop to iterate 10 times
for i in range(1, 11):
   print(num,'x',i,'=',num*i)

enter any integer:12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [49]:
for a in "pakistan":
    for b in range(5):
        print(a,b)

p 0
p 1
p 2
p 3
p 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [58]:
f_name=["blueberry","upchunk","lojack","lismo","Do rag"]
l_name=["zzz","Burp","Dogbone","Droop"]
full_name=[]
for f in f_name:
    for l in l_name:
        full_name.append(f+" "+l)
print(full_name)

['blueberry zzz', 'blueberry Burp', 'blueberry Dogbone', 'blueberry Droop', 'upchunk zzz', 'upchunk Burp', 'upchunk Dogbone', 'upchunk Droop', 'lojack zzz', 'lojack Burp', 'lojack Dogbone', 'lojack Droop', 'lismo zzz', 'lismo Burp', 'lismo Dogbone', 'lismo Droop', 'Do rag zzz', 'Do rag Burp', 'Do rag Dogbone', 'Do rag Droop']

In [54]:
"pakistan".upper()

'PAKISTAN'

In [55]:
"PAKISTAN".lower()

'pakistan'

In [56]:
sl_str="pakistan zindabad"
print(sl_str)
len(sl_str)

pakistan zindabad

17

In [57]:
sl_str[5:11]

'tan zi'